<form class="form-horizontal" role="form" action="/user" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}" />

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">
            Name
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" value="{{name}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">
            E-mail address
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="email" name="email" value="{{email}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">
            Nickname (will be shown publicly)
        </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nickname" name="nickname" value="{{nickname}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="languages" class="col-sm-2 control-label">
            Languages known
        </label>
        <div class="col-sm-4">
            {{#each knownLanguages}}
                <label for="language-known-{{languageName}}" class="control-label">{{displayName}}</label>
                <input type="checkbox" class="form-control" id="language-known-{{languageName}}" name="language-known[{{languageName}}]" {{checked}}/>

            {{/each}}
        </div>
    </div>

    <div class="form-group">
        <label for="languages" class="col-sm-2 control-label">
            Languages wanted
        </label>
        <div class="col-sm-4">
            {{#each wantedLanguages}}
                <label for="language-wanted[{{languageName}}]" class="control-label">{{displayName}}</label>
                <input type="checkbox" class="form-control" id="language-wanted[{{languageName}}]" name="language-wanted[{{languageName}}]" {{checked}}/>

            {{/each}}
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
    <div id="userinfo">
        <p>authId: {{authId}}</p>
        <p>name: {{name}}</p>
        <p>email: {{email}}</p>
        <p>role: {{role}}</p>
        <p>created: {{created}}</p>
    </div>
</form>
